In [3]:
import pandas as pd
import numpy as np

2) Tenemos un dataframe con la información de distintas playlists
armadas por usuarios con el formato (playlist, song_id,
description). A su vez, contamos con un dataframe de canciones
que contiene (song_id, singer, year, lenght, genres).
Se pide generar un programa en Pandas que indique para cada
playlist cual es el cantante predominante (con mas canciones
incluidas dentro de esa lista). (**) (15 pts)

In [99]:
#Genero algunos datos de prueba
num_datos = 1000

canciones = pd.DataFrame({
    'song_id': np.arange(num_datos),
    
    'singer': np.random.choice(np.arange(50), num_datos),
    
    'year': np.random.choice([2015,2016,2017],num_datos),
  
    'lenght':np.random.choice(4, num_datos),
   
    'genres': np.random.choice(['Rock','Cumbia','Reggaeton','Metal','Folclore'], num_datos),
})

canciones.head()

   song_id  singer  year  lenght     genres
0        0       7  2017       2      Metal
1        1      19  2017       1      Metal
2        2      41  2015       1     Cumbia
3        3      40  2016       2  Reggaeton
4        4      11  2016       0   Folclore

In [100]:
informaciones = pd.DataFrame({
        'playlist': np.random.choice(np.arange(100), num_datos),
        'song_id':np.random.choice(np.arange(num_datos), num_datos),
        'description': ['s/d'] * num_datos
})
informaciones.head()

   playlist  song_id description
0        79      559         s/d
1        44       23         s/d
2        88      887         s/d
3         7      378         s/d
4        90      399         s/d

#### Consigna: Se pide generar un programa en Pandas que indique para cada playlist cual es el cantante predominante (con mas canciones incluidas dentro de esa lista)

In [101]:
#Mergeo por song_id en el de canciones, Para cada playlist agrupo por cantante y song_id 
#y cuento las song_id de cada uno,luego muestro el que tiene mas canciones por playlist

In [102]:
union = pd.merge(canciones, informaciones, on='song_id',how= 'inner')

In [109]:
union2 = union.groupby(['playlist','singer']).agg({'song_id':'count'})
union2

                 song_id
playlist singer
0        0             1
         15            1
         18            1
         29            1
         30            1
         35            1
         36            1
         39            1
         42            1
         49            1
1        5             1
         7             2
         8             1
         10            1
         19            1
         31            2
         34            1
2        1             3
         6             1
         7             2
         10            1
         19            1
         22            1
         25            1
         29            2
         37            1
         49            1
3        19            1
         22            1
         25            1
...                  ...
96       23            2
         27            1
         34            1
         35            1
97       17            1
         18            1
         20            1
         22            1
         25            1
         26            1
         40            1
         47            1
         49            1
98       2             1
         6             1
         16            1
         22            1
         26            1
         29            1
         35            1
         36            1
         38            2
         45            1
99       1             1
         4             1
         5             1
         7             1
         12            1
         35            2
         41            1

[912 rows x 1 columns]