In [1]:
#importacion de libraries
import pandas as pd

In [2]:
### IMPORTO EL DATAFRAME DE TRAIN PARA QUITARLE LOS FEATURES NULOS
df_train=pd.read_csv('join_features_categoricos_train_final.csv')
df_train.shape

(19414, 16803)

In [3]:
features_to_remove = (df_train != 0).any(axis=0)

In [4]:
#ELIMINO FEATURES CON NULOS EN EL ARCHIVO DE TRAIN
df_train = df_train.loc[:,features_to_remove]
print df_train.shape
df_train.to_csv('df_no_null_features_train.csv')
df_train.head()

(19414, 2449)

,Unnamed: 0,person,label,F13_color_fh11-Enero,F13_color_fh11-Febrero,F13_color_fh11-Marzo,F13_color_fh11-Abril,F13_color_fh11-Mayo,F13_color_fh15-Enero,F13_color_fh15-Febrero,...,F13_device_type_fh4-Enero,F13_device_type_fh4-Febrero,F13_device_type_fh4-Marzo,F13_device_type_fh4-Abril,F13_device_type_fh4-Mayo,F13_device_type_fh5-Enero,F13_device_type_fh5-Febrero,F13_device_type_fh5-Marzo,F13_device_type_fh5-Abril,F13_device_type_fh5-Mayo
0,0,0566e9c1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1,1,6ec7ee77,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
2,2,abe7a2fb,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0
3,3,34728364,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
4,4,87ed62de,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_train.head()

,Unnamed: 0,person,label,F13_color_fh11-Enero,F13_color_fh11-Febrero,F13_color_fh11-Marzo,F13_color_fh11-Abril,F13_color_fh11-Mayo,F13_color_fh15-Enero,F13_color_fh15-Febrero,...,F13_device_type_fh4-Enero,F13_device_type_fh4-Febrero,F13_device_type_fh4-Marzo,F13_device_type_fh4-Abril,F13_device_type_fh4-Mayo,F13_device_type_fh5-Enero,F13_device_type_fh5-Febrero,F13_device_type_fh5-Marzo,F13_device_type_fh5-Abril,F13_device_type_fh5-Mayo
0,0,0566e9c1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1,1,6ec7ee77,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
2,2,abe7a2fb,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0
3,3,34728364,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
4,4,87ed62de,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [6]:
del df_train

In [7]:
### IMPORTO EL DATAFRAME DE TRAIN PARA QUITARLE LOS FEATURES NULOS
df_test=pd.read_csv('join_features_categoricos_test_final.csv')
df_test.shape

(19415, 16802)

In [8]:
#ELIMINO FEATURES CON NULOS EN EL ARCHIVO DE TRAIN
df_test = df_test.loc[:,features_to_remove]
print df_test.shape
df_test.to_csv('df_no_null_features_test.csv')
df_test.head()

(19415, 2448)

,Unnamed: 0,person,F13_color_fh11-Enero,F13_color_fh11-Febrero,F13_color_fh11-Marzo,F13_color_fh11-Abril,F13_color_fh11-Mayo,F13_color_fh15-Enero,F13_color_fh15-Febrero,F13_color_fh15-Marzo,...,F13_device_type_fh4-Enero,F13_device_type_fh4-Febrero,F13_device_type_fh4-Marzo,F13_device_type_fh4-Abril,F13_device_type_fh4-Mayo,F13_device_type_fh5-Enero,F13_device_type_fh5-Febrero,F13_device_type_fh5-Marzo,F13_device_type_fh5-Abril,F13_device_type_fh5-Mayo
0,0,4886f805,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1,1,0297fc1e,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,2,2d681dd8,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,cccea85e,0.0,0.0,0.0,0.0,0.017544,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,4c8a8b93,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0